<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/dataonme.css" rel="stylesheet">
    <script src="../libs/jquery/dist/jquery.min.js"></script>
    <script src="../libs/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body style="height: 100vh;">
<div id="wrap">
    <div style="text-align: center;">
        <a href="login">Go to DataOnMe </a>
    </div>
    <div id="push"></div>
</div>

<div id="footer">
    <div class="container">
        <p class="text-muted"><span class="glyphicon glyphicon-copyright-mark"> </span> Designed by <a href="https://github.com/nicor88">nicor88</a></p>
    </div>
</div>
</body>
</html>