<!DOCTYPE html>
<html ng-app="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <script src="../libs/angular/angular.min.js"></script>
</head>
<body ng-init="<%- userdata%>">
<a href="login" ng-hide="logged">Login</a>
<div ng-show="logged">
    {{ username}}
    <a href="signout" ng-show="logged">Logout</a>
</div>
<div ng-show="isAdmin && logged">
    you are an admin
    admin dashboards link
</div>
<div ng-show="!isAdmin && logged">
    normal user
    user links apps
</div>

</body>
</html>